

body  {
    margin: 0px;
    padding: 0px;
    background-color: linear-gradient(to bottom right, #FF512F, #DD2476);
    background-image:  url(https://static.spotapps.co/spots/f1/25521a844a4e0c9be2cde538aa0133/full);
}


main  {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
    transition: transform 0.3s ease-in-out;
}

nav {
    border-bottom: 2px black;
    padding: 16px;
}

ol {
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: white;
}

main h1 {
    color: green;
    padding: 16px;
}
main h2 {
    padding: 16px;

}

main div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:auto 1fr auto;
    grid-gap: 20px;
  }

  div {
    text-align: center;
  }

  h3 {
    grid-row: 1;

}

  img {
    grid-row: 2;
    box-shadow: 0 0 10px black ;
  }

  div:last-child {

    grid-row: 3;
    white-space: nowrap;
    color: yellow;


  }

  header {
    background-color:black;

  }
footer {
    background-color: lightgreen;
    padding: 30px;
}

img:hover {
    transform: scale(1.1);
}
