<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="chrome">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Scrumptious Recipes</title>
<link rel="stylesheet" href="recipe.css">
</head>
<body>
<header>
   <nav>
      <a href="/recipe.html">Main page</a>
   </nav>
</header>
<main>
   <h1>Scrumptious Recipes</h1>
   <h2> All the food that's fit to eat</h2>
   <div>
      <div>
         <h3>
            <a href="/detail.html">Vegetarian Tacos</a>
         </h3>
         <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-edgarcastrejon2-streettacos-091-ae.jpg?w=1200&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=81281a5f6d6cfef4e6d5578d1c42fa02" alt="">
         <div>4.2 stars</div>
      </div>
      <div>
         <h3>
            <a href="/detail.html"> Beef Tacos</a>
         </h3>
         <img src="https://thesaltymarshmallow.com/wp-content/uploads/2020/05/beef-tacos2.jpg" alt="">
         <div>4.5 stars</div>
      </div>
      <div>
         <h3>
            <a href="/detail.html">Shrimp Tacos</a>
         </h3>
         <img src="https://pinchandswirl.com/wp-content/uploads/2022/01/Shrimp-Tacos__.jpg" alt="">
         <div>4.3 stars</div>
      </div>
      <div>
          <h3>
            <a href="/detail.html">Tacos al Pastor</a>
         </h3>
         <img src="https://www.thespruceeats.com/thmb/c1tAWEfG8V7IiFyCSMxpovemNCc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/tacos-al-pastor-recipe-4172074-hero-01-7fb1a4455397486b8485ac8ec2ca3c5a.jpg" alt="">
         <div>4.5 stars</div>
      </div>
      <div>
         <h3>
            <a href="/detail.html">Pork Carnitas Tacos</a>
         </h3>
         <img src="https://pinchandswirl.com/wp-content/uploads/2020/01/Pork-Carnitas-Tacos.jpg" alt="">
         <div>4.8 stars</div>
      </div>
   </div>

</main>

<footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
